.deck {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 15px 10px;
  .deck-container {
    display: flex;
    flex-wrap: wrap;
  }
  .title-section {
    margin: 30px 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .deck-title {
      margin: 0;
    }
    .deck-action {
      margin-right: 14px;
    }
  }
  .card-container {
    padding: 0 10px;
  }
  .no-card {
    padding: 10px 0 0 12px;
    font-size: 12px;
  }
}
